body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: linear-gradient(
        135deg,
        #ff8ac9,
    #ffb3d9,
    #ff6fb3
    );
    font family : 'Arial', sans-serif;
}

h1 {
    font-size: 4rem;
    color: #fff;
    text align : center;

}
.can {
    width: 700px;
  
}
.button {
    margin-top: 20px;
    padding: 15px 30px;
    background: white;
    color: hotpink;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
}